# personal scripts and shit
**/*.sh
**/*.swp
**/*.psd

# binaries, etc.

**/build/*
**/x64/*
**/x86/*
**/lib/*
**/include/*

# VS
**/*.swo
**/*.sdf
**/*.VC.opendb
**/*.vcxproj.filters
**/*.vcxproj.user
**/.vs