# personal scripts and shit
**/*.sh
**/*.swp
**/*.psd

# binaries, etc.

**/build/*
**/x64/*
**/x86/*

# VS
**/*.swo
**/*.sdf
**/*.VC.opendb
**/*.vcxproj.filters
**/*.vcxproj.user
**/.vs

**/run_cmake_debug_ver
